.App {
  width: 100vw;
  height: 100vh;
}

.mainContent{
  width: 100vw;
  height: 100vh;
  z-index: 2;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miscButtons{
  position: relative;
  z-index: 2;
  bottom: 0;
  right: 0;
}


#particles-js {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-screen {
  font-size: large;
  color:white;
  background-color: brown;
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
}

.particles-js-canvas-el{

  position: absolute;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 220px;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(1080deg); }
  from {left: 0px;}
  to {left: 100%;}
}

.links {
  display: block;
  width: 250px;
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: black;
  line-height: 1.5rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  span {
    background-image: linear-gradient(to bottom, white 70%, transparent 70%), linear-gradient(to right, $violet 33%, $blue 33%, $blue 66%, $teal 66%);
    background-size: 306% 100%;
    background-position: 100% 0;
    transition: 1s background-position;
  }
  &:hover span {
    background-position: 0%;
  }
}